<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&family=Source+Serif+Pro:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Esempio layout</title>
</head>
<body>
<div class="container">
    
        <header>
    
           <nav id="mainMenu">
            <ul class="myList">
                <li><a href="#">Home</a></li>
                <li><a href="#">Servizi</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contatti</a></li>
                <li>
                    <ul>
                        <li><a href="">List item</a></li>
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item</li>
                        <ul>
                            <li>Sottomenu</li>
                            <li>Sottomenu</li>
                            <li>Sottomenu</li>
                            <li>Sottomenu</li>
                            <li>Sottomenu</li>
                        </ul>
                    </ul>
                </li>
    
            </ul>
           </nav>
    
        </header>
    
        <main>
            <h1>Titolone del sito<br>
            <span class="titleIntro">Breve introduzione</span></h1>
    
            <p>Lorem, ipsum <strong>dolor</strong> sit amet consectetur adipisicing elit. Iure impedit, rerum illo sed culpa sint aliquid optio, at, molestias accusantium porro sequi cumque. Modi consequuntur iste nemo, qui magni alias dolores harum ad aperiam assumenda hic blanditiis nisi fugiat et ipsum totam ipsa debitis odit libero natus maiores sunt accusantium? Illo omnis, veniam distinctio assumenda provident a voluptatibus similique dignissimos, iure sed tempora enim officia, tenetur eveniet expedita modi? Labore!</p>
    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis doloremque ratione labore voluptate totam, dolore quisquam eligendi illo beatae reprehenderit quis doloribus rem quae in id repellat dolorum a quia deserunt corrupti? Temporibus rerum eveniet possimus quo, reprehenderit odit numquam accusantium culpa deserunt cum aliquid maxime sed mollitia magni illum.</p>
    
            <p class="box">Facilis, sint cupiditate deleniti <strong>aspernatur similique</strong> saepe nostrum vel nesciunt sunt assumenda provident, consectetur possimus excepturi accusantium reiciendis dolorem natus tenetur ea! Non fugit nisi temporibus quas dolor nam, reiciendis voluptas obcaecati minima ratione libero deleniti facere voluptate explicabo omnis mollitia! Architecto nisi temporibus facilis explicabo qui possimus iure quidem?</p>
    
            <p>Molestias quod, sequi reiciendis iste asperiores, laudantium nam, dolore saepe qui illum nemo dolores obcaecati numquam doloribus blanditiis quidem. Blanditiis, libero? Cumque quos numquam suscipit quasi maiores atque ullam cum rem dolorem eum voluptate vero quis perspiciatis dolore, corrupti tempora necessitatibus, accusantium debitis deserunt unde eos accusamus? Non, aut unde?</p>
    
            <p>Laudantium at ullam quasi excepturi consequatur et natus dicta possimus nobis, minus rerum iste magnam deleniti minima hic autem explicabo nesciunt labore veniam sapiente dignissimos in culpa cupiditate. Repellat quo explicabo debitis doloribus illum optio a! Reiciendis cumque culpa libero! Exercitationem minus esse porro soluta dignissimos delectus tempore dicta ipsum!</p>

            <div class="box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, tenetur. Rem corporis cupiditate, distinctio commodi autem tempore sint nesciunt fugit, consectetur similique impedit aliquam exercitationem modi rerum quas dicta totam.</p>
            </div>
    
            <p>Explicabo in molestiae consectetur nemo perspiciatis dolorum. Natus aliquid enim vitae, deserunt et nesciunt culpa necessitatibus sunt est, error corrupti similique animi eveniet eum quaerat. Explicabo earum dignissimos cumque ipsa molestiae. Praesentium labore, assumenda magni, neque nobis odio perferendis aliquam voluptates temporibus fuga excepturi id ea, suscipit reprehenderit omnis laboriosam!</p>

            <img src="https://source.unsplash.com/600x400?lynchburg" alt="">
            <img src="https://source.unsplash.com/600x400?chocolate+cookie" alt="">

            <h2>Lorem ipsum dolor sit.</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur magni suscipit non amet iusto quibusdam ea quam quo enim eveniet repellendus, quaerat repellat! Ad, quo molestiae! Quidem ea dolore nihil natus ipsam, laboriosam nam odit dicta atque nulla, voluptas cupiditate. Eveniet odio deserunt nihil. Nesciunt aut fugiat nobis obcaecati quae. Fuga praesentium cupiditate facilis dolorum architecto sapiente dolorem eos reiciendis?</p>



        </main>
    
        <footer id="mainFooter">
            <p>© 2022 Corso Web | CONTATTI | <a href="#">INFO</a> | CREDITS</p>
            <p>Info varie e noiose</p>
            <a href="#">Link esterno al paragrafo</a>
        </footer>

        
    
</div>
</body>
</html>